<section data-ng-controller="HomeController">

	<div class="panel panel-default" style="margin-top: 50px;">

		<div class="panel-heading">

			<h3 class="panel-title">The purpose of this site is to train with Karma.js.</h3>

		</div>


		<div class="panel-body">

			<br><p><b>Client-side testing in Mean.js</b></p>
			<ol style="margin-left: 20px;">
				<li>We play the configured tests running <code>grunt test</code></li>
				<li>I created a custom <code>grunt testclient</code> to run just karma tests.</li>
				<li>Meanjs uses a separate db for testing. It is referred in
					config/env/test.js</li>
				<li>The tests generated for our custom crud module are located in
					public/modules/items/tests</li>

			</ol>

			<p><b>Intro to Karma</b></p>
			<ol  style="margin-left: 20px;">
				<li>Framework to test AngularJS code. Created by the original AngularJS team.</li>
				<li>It runs on top of an assertion library. The most commonly used is Jasmine.</li>

			</ol>
			




		</div>

		<a href="#!/items" class="btn btn-default" style="margin: 10px;">View Current Items</a>
		<a href="https://aqueous-ocean-93309.herokuapp.com/#!/" class="btn btn-default" style="margin: 10px;">View Heroku Site</a>

	</div>

</section>
